<?xml version="1.0" encoding="UTF-8"?>
 
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "https://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.smhrd.model.DAO">
	<insert id="member_join"
		parameterType="com.smhrd.model.MemberVO">
		insert into MEMBER_INFO (MEM_ID, MEM_PW, MEM_NAME,
		MEM_PHONE, MEM_EMAIL,
		MEM_ADDR1, MEM_ADDR2, JOINED_AT, MEM_TYPE)
		values(#{mem_id}, #{mem_pw}, #{mem_name}, #{mem_phone}, #{mem_email},
		#{mem_addr1},
		#{mem_addr2}, SYSTIMESTAMP, #{mem_type})

	</insert>
	<select id="getMemberInfo"
		parameterType="com.smhrd.model.MemberVO"
		resultType="com.smhrd.model.MemberVO">
		SELECT *
		FROM MEMBER_INFO
		WHERE MEM_ID = #{mem_id}
	</select>

	<select id="member_login"
		parameterType="com.smhrd.model.MemberVO"
		resultType="com.smhrd.model.MemberVO">
		SELECT *
		FROM MEMBER_INFO
		WHERE MEM_ID = #{mem_id}
		AND MEM_PW
		= #{mem_pw}
	</select>

	<select id="member_selectAll"
		resultType="com.smhrd.model.MemberVO">
		SELECT *
		FROM MEMBER_INFO
	</select>

	<select id="shop management"
		parameterType="com.smhrd.model.MemberVO"
		resultType="com.smhrd.model.MemberVO">
		SELECT MEM_ID
		FROM MEMBER_INFO
		WHERE MEM_ID = #{mem_id}
	</select>


	<select id="emailCheck"
		parameterType="com.smhrd.model.MemberVO"
		resultType="com.smhrd.model.MemberVO">
		SELECT MEM_ID, MEM_PW
		FROM MEMBER_INFO
		WHERE MEM_EMAIL = #{mem_email}
	</select>

	<update id="member_update"
		parameterType="com.smhrd.model.MemberVO">
		UPDATE MEMBER_INFO
		SET MEM_PW = #{mem_pw},
		MEM_PHONE =
		#{mem_phone},
		MEM_ADDR1 = #{mem_addr1},
		MEM_ADDR2 = #{mem_addr2},
		MEM_EMAIL = #{mem_email},
		MEM_NAME = #{mem_name}
		WHERE MEM_ID =
		#{mem_id}
	</update>

	<insert id="staff_join" parameterType="com.smhrd.model.StaffVO">
		insert into STAFF_INFO
		(STAFF_SEQ, SHOP_SEQ, MEM_ID, HIRED_AT)
		values(#{staff_seq},
		#{shop_seq}, #{mem_id}, SYSTIMESTAMP)
	</insert>

	<select id="staff_update"
		parameterType="com.smhrd.model.StaffVO">
		UPDATE STAFF_INFO
		SET STAFF_SEQ = #{staff_seq},
		SHOP_SEQ =
		#{shop_seq},
		WHERE MEM_ID = #{mem_id}
	</select>

	<insert id="review_join"
		parameterType="com.smhrd.model.ReviewVO">
		insert into REVIEW_INFO (REVIEW_SEQ, SHOP_SEQ,
		REVIEW_CONTENT, MEM_ID,
		CREATED_AT, REVIEW_VIEWS, REVIEW_LIKES,
		REVIEW_RATING)
		values(#{review_seq}, #{shop_seq}, #{review_content},
		#{mem_id},
		SYSTIMESTAMP, #{review_views}, #{review_likes},
		#{review_rating})
	</insert>

	<select id="review_update"
		parameterType="com.smhrd.model.ReviewVO">
		UPDATE REVIEW_INFO
		SET REVIEW_SEQ = #{review_seq},
		REVIEW_CONTENT = #{review_content},
		REVIEW_VIEWS = #{review_views},
		REVIEW_LIKES = #{review_likes},
		REVIEW_RATING = #{review_rating}
		WHERE
		MEM_ID = #{mem_id}
	</select>


	<insert id="shop_join" parameterType="com.smhrd.model.ShopVO">
		insert into SHOP_INFO
		(SHOP_SEQ, SHOP_NAME, SHOP_TEL, LAT, LNG, OPEN_TIME,
		CLOSE_TIME,
		SHOP_STATUS, MEM_ID)
		values(#{shop_seq}, #{shop_name}, #{shop_tel},
		#{lat}, #{lng}, #{open_time},
		#{close_time}, #{shop_status}, #{mem_id})
	</insert>

	<select id="shop_update" parameterType="com.smhrd.model.ShopVO">
		UPDATE SHOP_INFO
		SET
		SHOP_NAME = #{shop_name},
		SHOP_TEL = #{shop_tel},
		LAT = #{lat},
		LNG =
		#{lng},
		OPEN_TIME = #{open_time} ,
		CLOSE_TIME = #{close_time},
		SHOP_STATUS = #{shop_status}
		WHERE MEM_ID = #{mem_id}
	</select>

	<insert id="nailart_join"
		parameterType="com.smhrd.model.NailartVO">
		insert into NAILART_INFO (NAILART_SEQ, NAILART_NAME,
		NAILART_IMG, SHOP_SEQ,
		NAILART_DESC)
		values(#{nailart_seq},
		#{nailart_name}, #{nailart_img}, #{shop_seq}, #{nailart_desc})
	</insert>

	<select id="nailart_update"
		parameterType="com.smhrd.model.NailartVO">
		UPDATE NAILART_INFO
		SET NAILART_NAME = #{nailart_name},
		NAILART_IMG = #{nailart_img},
		NAILART_DESC = #{nailart_desc}
	</select>

	<insert id="service_join"
		parameterType="com.smhrd.model.ServiceVO">
		insert into SERVICE_INFO (SVC_SEQ, STAFF_SEQ,
		NAILART_SEQ)
		values(#{svc.seq}, #{staff_seq}, #{nailart_seq})
	</insert>

	<insert id="appointment_join"
		parameterType="com.smhrd.model.AppointmentVO">
		insert into APPOINTMENT_INFO (APPOINT_SEQ, MEM_ID,
		SERVICE_SEQ,
		APPOINTED_AT, CREATED_AT, APPROVED)
		values(#{appoint_seq},
		#{mem_id}, #{service_seq}, SYSTIMESTAMP, SYSTIMESTAMP, #{approved})
	</insert>

	<select id="appointment_update"
		parameterType="com.smhrd.model.AppointmentVO">
		UPDATE APPOINTMENT_INFO
		SET APPOINTED_AT =
		#{appointed_at},
		APPROVED = #{approved}
		WHERE MEM_ID = #{mem_id}
	</select>

	<select id="selectId" parameterType="com.smhrd.model.MemberVO"
		resultType="com.smhrd.model.MemberVO">
		SELECT MEM_ID
		FROM MEMBER_INFO
		WHERE MEM_ID = #{mem_id}
	</select>

	<update id="update_state" parameterType="java.lang.String">
		UPDATE MEMBER_INFO
		SET
		MEM_TYPE = 's'
		WHERE MEM_ID = #{mem_id}
	</update>

</mapper>
