<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.smhrd.model.ShopDAO">

	<!-- ShopMapper.xml -->
	<select id="shop_select" parameterType="com.smhrd.model.ShopVO"
		resultType="com.smhrd.model.ShopVO">
		SELECT *
		FROM SHOP_INFO
		WHERE MEM_ID = #{mem_id}
	</select>
	
	<select id="getShopInfoAll" resultType="com.smhrd.model.ShopVO">
		SELECT *
		FROM SHOP_INFO
		ORDER BY SHOP_NAME
	</select>


</mapper>